@{
    ViewBag.Title = "Registration";
}
@model KH.Models.User
<h2>Registration</h2>
<form action="/Registration/Registration" method="post">
<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            <input name="name" type="text"/>
        </td>
    </tr>
    <tr>
        <td>
            Surname
        </td>
        <td>
            <input name="surname" type="text"/>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input name="email" type="email"/></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input name="password" type="password" /></td>
    </tr>
</table>
    <input type="submit" value="Registration"/>
</form>