@{
    ViewBag.Title = "Kitchen Helper";
}
<form action="/Login/Login" method="post">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
    </table>
    <input type="submit" value="Log in" />
</form>
<form action="/Login/Registration" method="post">
    <input type="submit" value="Registration"/>
</form>